<!DOCTYPE html>
<html>
  <head>
    <title>Demo Rack</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

	 <body>
		<form method="post" action="mail">
			<div class="container">
				<div class="row">
			      <div class="col-md-6 col-md-offset-3">
			        <div class="well well-sm">
			          <form class="form-horizontal" action="" method="post">
			          <fieldset>
			            <legend class="text-center">Contact us</legend>

			            <!-- Name input-->
			            <div class="form-group">
			              <label class="col-md-3 control-label" for="name">Name</label>
			              <div class="col-md-9">
			                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
			              </div>
			            </div>

			            <!-- Email input-->
			            <div class="form-group">
			              <label class="col-md-3 control-label" for="email">Your E-mail</label>
			              <div class="col-md-9">
			                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
			              </div>
			            </div>

									<div class="form-group">
			              <label class="col-md-3 control-label" for="message">Your phone</label>
			              <div class="col-md-9">
											<input id="phone" name="phone" type="text" placeholder="Your phone" class="form-control">
			              </div>
			            </div>

			            <!-- Message body -->
			            <div class="form-group">
			              <label class="col-md-3 control-label" for="message">Your message</label>
			              <div class="col-md-9">
			                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
			              </div>
			            </div>

			            <!-- Form actions -->
			            <div class="form-group">
			              <div class="col-md-12 text-left">
			                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
			              </div>
			            </div>
			          </fieldset>
			          </form>
			        </div>
			      </div>
				</div>
			</div>
		</form>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
